{
"plugins": [
["@semantic-release/commit-analyzer", {
"parserOpts": {
"parser": "node_modules/@semantic-release/commit-analyzer/node_modules/@commitlint/cli/lib/parse"
}
}],
"@semantic-release/release-notes-generator",
["@semantic-release/git", {
"assets": ["package.json"],
"skip-publish": true,
"push": true,
"branch": "ready"
}]
]
}
